body, html, #root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
	max-width: 100%;
	max-height: 100%;
}

#map rect:hover, #map rect.active {
	opacity: 1;
}

#root {
	display: flex;
	flex-direction: row;
}

#map-wrapper {
	overflow: scroll;
	flex: 1;
}

#map-max {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	padding: 2px;
	pointer-events: none;
	font-size: 0.8em;
}

#sidebar-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#controls {
	text-align: center;
}

#sidebar, #cell-view {
	flex: 1;
	overflow-y: scroll;
	width: 400px;
}

#sidebar > button {
	display: inline-block;
	margin: 5px;
}

#sidebar > button.active {
	background-color: black;
	color: white;
}

#sidebar > input {
	display: block;
	margin-bottom: 1em;
	width: 100%;
}

#sidebar label {
	display: block;
	word-break: break-all;
}

[hidden] {
	display: none !important;
}
